@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

body {
    background-color: #fff;
    color: #5e5e5e;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

a {
    color: #2e2e2e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #e2e2e2;
}

table td, table th {
    padding: 5px;
}

.text-center {
    text-align: center;
}

.tex-right {
    text-align: right;
}

#container {
    min-width: 360px;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

#container header {
    color: #5e5e5e;
    background-color: #2e2e2e;
    border-bottom: 2px solid #dd973c;
    min-height: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container header h1 {
    margin:0;
    padding: 0;
    font-weight: normal;
    display: flex;
    align-items: center;
    color: #fff;
}

#container header h1 img {
    max-height: 30px;
    margin-right: 15px;
}

#container header div {
    margin-right: 20px;
}

#container header div a {
    text-decoration: none;
    color: #e2e2e2;
}

#container header div a:hover {
    color: #ffffff;
}

#content {
    display: flex;
    flex-direction: row;
    height: 100%;
}


#sidebar {
    width: 25%;
    min-width: 200px;
    margin-right: 10px;
    padding-top: 10px;
    background-color: #f7dd84;
}

#sidebar ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}

#sidebar ul li a {
    display: block;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px dotted #000;
    text-decoration: none;
}

#sidebar ul li a:hover {
    background-color: #e9c242;
}

#page {
    width: 75%;
    padding: 15px;
}

#page .slides {
    width: 100%;
    overflow: hidden;
    border: 2px solid #000;
}

#page .slides img {
    object-fit: cover;
    width: 100%;
}

.personagens {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    margin-bottom: 20px;
}

.personagens li {
    width: 33%;
    text-align: center;
}

.personagens li a h4 {
    margin: 0 0 10px 0;
}

.personagens li a img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid #000;
    border-radius: 10px;
}

.personagens li a img.arthur {
    object-position: left top;
}

.personagens li a img.ford {
    object-position: left top;
}

.personagens li a img.trillian {
    object-position: center top;
}

